/* layout content in second line */

.main-section {
    width: 57.2%;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-section .menu--secondLine {
    width: 40%;
    height: 40px;
    justify-content: space-between;
}

.menu--secondLine .menu__item {
    flex: none;
    width: 45%;
    height: 40px;
}


/* style for menu in second line */

.menu--secondLine .link {
    line-height: 40px;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.menu--secondLine .link:hover {
    background-color: #23b7a4;
}